*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: 'FontAwesome';
    src: url('../css/font-awesome.css');
    src: url('../css/font-awesome.min.css')
}
.App{
    font-size: 18px;
    background-color: rgba(245, 244, 244, 0.466);
}
a{
    text-decoration: none;
}
.container{
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}
.header{
    background-image: url('../assets/img/nav.jpg');
    background-position: top right -50px
}
.header__item{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;  
}
.header__logo a{
    font-size: 32px;
    position: relative;
    padding-right: 190px;
}
.header__logo img{
    width: 60px;
}
.header__logo span{
    position: absolute;
    bottom: -4px;
    margin-left: 10px;
    font-family: 'Carter One', cursive;
    color: rgb(13, 199, 202);
    text-shadow: 3px 2px 1px rgba(13, 194, 207, 0.452);
}
#nav_toggle{
    display: none;
}
.nav_toggle{
    display: none;
    border: 0;
    background: none;
    position: relative;
}
.nav_toggle::before{
    content: '\f0c9';
    font-family: 'Fontawesome';
    font-size: 20px;
    color: rgb(13, 199, 202);
}
.nav_toggle label{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}  
.nav ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;
}
.nav ul li:not(:last-child){
    padding-right: 45px;
}
.nav__link{
    display: flex;
    align-items: center;
    color: #ffffff;
    border-bottom: 5px solid transparent;
    height: 75px;
    padding-left: 10px;
    padding-right: 10px;  
    font-size: 16px;
    text-transform: uppercase;
}
.nav__link:hover{
    color: #ffffff;
}
.nav_item a[class^='nav__link active']{
    border-bottom: 5px solid rgb(0, 210, 215);
    color: rgb(0, 210, 215);
    font-weight: bold;
}
.header__social__tel h3{
    color: #ffffff;
    font-size: 18px;
    letter-spacing:0.8px;
}
.header__social__tel a{
   color:  rgb(0, 210, 215);
   font-size: 16px;
   font-weight: bold;
}
.header__widget__cart{
    width: 60px;
}
.header__cart{
    position: relative;
}
.header__cart__count{
    position: absolute;
    top: 22px;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    font-size: 14px;
    color: #292525;
    font-weight: bold;
}
.home{
    margin-bottom: 120px;
}
.carousel__ant__item__btn{
    width: 200px;
    height: 30px;
    background-color: #c8c5d6;
    position: absolute;
}
.btn_1{
    bottom: 15%;
    right: 10%;
}
.btn_1:hover{
    color: #ffffff;
}
.btn_2{
    top: 19%;
    left: 40%;
}
.btn_3{
    bottom: 15%;
    left: 47%;
}
.carousel__ant__item_slogon{
    width: 600px;
    background-color: rgba(0, 68, 156, 0.699);
    border-radius: 10px; 
    color: #cbdeee;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 12%;
    left: 12%;
    font-size: 20px;
}
.carousel__ant__item_slogon__title{
    color: rgb(255, 255, 255);
    font-size: 58px;
    font-weight: bold;
}
.home__item1{
    background-image: url("../assets/img/item1.png");
    background-color: #ffffff;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: -6% 72%;  
}
.wrapper__item1,
.wrapper__item2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.home__item1__title{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home__item1__title h2{
    font-size: 40px;
    color: rgb(0, 68, 156);
    font-weight: 400;
}
.home__item1__title p{
    color: rgb(46, 42, 42);
    font-size: 20px;
    line-height: 36px;
    width: 80%;
}
.home__item1__description{
    width: 100%;
    display: flex;
    justify-content: right;
}
.home__item1__description__wrapper{
    text-align: left;
    width: 50%;
    margin-bottom: 60px;
}
.home__item1__description__wrapper h3{
    font-size: 34px;
    font-weight: 300;
}
.home__item1__description__wrapper p{
    color: rgb(46, 42, 42);
    font-size: 18px;
    line-height: 30px;
}
.home__item2{
    background-image: url("../assets/img/item2.jfif");
    background-size: cover;
}
.wrapper__item2{
    justify-content: center;
    align-items: center;
    height: 600px;
}
.home__item2__title{
    width: 70%;
    text-align: center;
    background-color: rgba(15, 15, 15, 0.863);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
}
.home__item2__title h2{
    font-size: 34px;
    color: #ffffff;
    padding-top: 10px;
}
.home__item2__title p{
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
}
.home, .shop,
.cart, .product,
.about{ 
    box-shadow: inset 0px 0px 31px 42px rgb(251 251 251);
    background-image: url("../assets/img/11.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
}
.news{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 120px;
}
.news__item1{
    background-blend-mode: multiply;
    background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.493)), url('../assets/img/news1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.news__item1__review{
    display: flex;
    width: 100%;
    align-items:flex-start;
}
.news__item1__review__title{
    width: 50%;
}
.news__item1__review__title h2{
    font-weight:400;
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #ffffff;
    letter-spacing: 1.5px;
}
.news__item1__review__title h3{
    color: #ffffff;
    text-transform: uppercase;
}
.news__item1__review__description{
    width: 50%;
}
.news__item2{
    background-image: linear-gradient(rgba(248, 242, 242, 0.692), rgba(253, 250, 250, 0.726)),  url('../assets/img/news2.png');
    background-size: cover;
}
.news__item2__review__title{
    font-size: 36px;
    text-align: center;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 60px;
}
.news__item2__review__description{
    width: 50%;
    font-weight: 400;
    padding-bottom: 60px;
}
.news__item2__review__description h2{
    padding-bottom: 20px;
}
.news__item3{
    background-image: linear-gradient(rgba(204, 202, 202, 0.897), rgba(214, 214, 214, 0.904)),  url('../assets/img/news3.jfif');
    background-size: cover;
}
.news__item3__title{
    text-align: center;
    padding-top: 60px; 
    display: flex; 
    align-items: center;
    flex-direction: column;
    letter-spacing: 0.8px;
}
.news__item3__title h4{
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(62, 62, 214);
    padding-bottom: 10px;
}
.news__item3__title h2{
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 20px;
}
.news__item3__title p{
    width: 70%;
    line-height: 28px;
}
.news__item3__review{
    padding-top: 80px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.news__review__item{
    width: 50%;
}
.news__review__item__img1,
.news__review__item__img2,
.news__review__item__img3,
.news__review__item__img4{
    width: 100%;
    height: 320px;
    background-repeat: no-repeat;
    background-position: left;
}
.news__review__item__img1{
    background-image: url('../assets/img/news3.1.png');
    background-size: 95%;
}
.news__review__item__img2{
    background-image: url('../assets/img/news3.2.png');
    background-size: 98%;
}
.news__review__item__img3{
    background-image: url('../assets/img/news3.3.png');
    background-size: 60%;
}
.news__review__item__img4{
    background-image: url('../assets/img/news3.4.png');
    background-size: 75%;
}
.news__review__item__descridtion p{
    padding-top: 20px;
    padding-bottom: 60px;
    width: 90%;
}
.catalog__widget{
    display: flex;
    box-sizing:content-box; 
    padding-top: 40px;
    justify-content: center;
}
#catalog__widget__value{
    width: 70%;
    font-size:18px;
    border-radius: 14px;
    border: 2px solid #253038;
    outline: none;
    color:#151518;
    padding: 6px 45px 6px 20px;
    background-image: url('../assets/img/search.svg');
    background-color:rgba(178, 247, 247, 0.452); ;
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 30px;
}
#catalog__widget__value::placeholder{
    color:#818181;
    padding-left: 3px;
}
.catalog__items {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
}
.catalog__item{
    width: calc(33.3%);
    width: 250px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.507);
    border-radius: 10px;
}
.catalog__item__img{
    display:flex;
    align-items: center;
    justify-content: center;
}
.catalog__item__img img{
    width: 250px;
    border-radius: 10px 10px 0 0;
}
.catalog__caption{
    background-color: #eeeff0;
    width: 220px;
    height: 110px;
    padding: 10px 10px 10px 20px;
    border-radius: 0 0 10px 10px;
    position: relative;
    box-sizing:content-box;
    line-height: 1.2;
}
.catalog__caption__name{
    font-size: 22px;
    font-weight: bold;
    color:#1e173a;
    cursor: pointer;
}
.catalog__caption__name:hover{
    color: rgb(8, 204, 218);
    transition: color 0.3s;
}
.catalog__caption__price{
    color:rgb(74, 81, 104);
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;  
}
.catalog__caption__btn .ant-btn{
    position: absolute;
    right:25px;
    bottom: 20px;
    color:#eeedf3;
    font-weight: 600;
    background-color: rgb(13, 199, 202);
    outline: none;
    border: 1px solid #0d0f0f38;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;  
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.catalog__caption__btn .ant-btn:hover{
    background-color: rgb(248, 248, 248);
    color:rgb(13, 199, 202);
    box-shadow: 0px 1px  11px rgba(17, 175, 175, 0.904);
    cursor: pointer;
    border: 1px solid #0c8f8fd5;
    transition: color 0.3s;
}
.catalog__caption__btn .ant-btn:focus{
    background-color: rgb(13, 199, 202);
    color:#eeedf3;
}
.product{
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.product__banner img{
   width: 100%;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translateY(-45%) translateX(-50%) scale(1.02);
}
.product__banner{ 
    width: 100%;
    height: 500px;
    overflow: hidden; 
    position: relative;
}
.product__card{
    position: absolute;
    top: 80px;
    left: 500px;
    background-color: rgba(20, 20, 20, 0.911);
    color:rgb(245, 241, 241);
    padding: 50px 60px;
    border-radius: 8px;
    width: 400px;
    text-align: left;
}
.product__card__title{
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #fbfafc;
}
.product__card__subtitle{
    border: 2px solid #0c0c0c;
    width: 40px;
    margin-bottom: 30px;
    background-color: rgb(241, 237, 237);
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.product__card__price{
    font-size: 28px;
    margin-bottom: 50px;
    font-weight: bold;
    letter-spacing: 1.8px;
}
.product__card__add .ant-btn{
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    color:#fbfafc;
    background-color: rgb(5, 117, 119);
    outline: none;
    border: 1px solid #0d0f0fd8;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    height: 40px;
    line-height: 2px;
}
.product__card__add .ant-btn:hover{
    background-color:  rgb(13, 199, 202);
    color:rgb(1, 17, 16);
    cursor: pointer;
    border: 1px solid #0c8f8fd5;
}
.product__card__add .ant-btn:focus{
    color:#fbfafc;
    background: rgb(5, 117, 119);
    outline: none;
    box-shadow: none;
    border:#0c8f8fd5;
}
.place__an__order,
.carousel__ant__item__btn{
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    color:#fbfafc;
    background-color: rgb(5, 117, 119);
    outline: none;
    border: 1px solid #0d0f0fd8;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.place__an__order:hover{
    background-color:  rgb(13, 199, 202);
    color:rgb(1, 17, 16);
    cursor: pointer;
    border: 1px solid #0c8f8fd5;
}
.product__description__content{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: justify;
    line-height:30px;
    font-size: 18px;
}
.product__description__video{
    display: flex;
    justify-content: center;
}
.product__description__video iframe{
    border-radius: 10px;
}

.about__description{
    font-family: 'Roboto', sans-serif;
    font-size: 18px; 
}
.about__description__wrapper{
    background-image: url('../assets/img/13.png');
    background-position:  37px 435px;
    border-bottom: 4px solid rgb(82 207 218 );
    margin-bottom: 20px;
}
.about__description__title{
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
}
.about__description__subtitle{
    font-size: 26px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 20px;
    letter-spacing: 0.8px;
}
.about__description__content{
    text-align: justify;
}
.about__description__tel h3{
    text-decoration: underline;
}
.about__description__tel a{
    color: rgb(17, 65, 65);
    display: inline-block;
    padding-top: 5px;
}
.about__description__contact__title{
    padding-top: 20px;
    padding-bottom: 5px;
    text-decoration: underline;
}
.about__description__contact ul{
    list-style: none;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.about__description__map{
    border-top: 4px solid rgb(82 207 218 );
    border-bottom: 4px solid rgb(82 207 218 );
}
.about__description__map iframe{
    width: 100%
}
.cart__title{
    font-weight: bold;
    font-size: 26px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.line__top{
    margin-bottom: 20px;
    height: 10px;
	border: none;
	background: linear-gradient(150deg, rgb(3, 84, 99), rgba(0, 255, 221, 0.438));
}
.line__bottom{
    margin-top: 20px;
    height: 10px;
	border: none;
	background: linear-gradient(150deg, rgb(3, 84, 99), rgba(0, 255, 221, 0.438));
}
.cart__product{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.cart__product__title{
    width: 240px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.cart__product__title:hover{
    color: rgb(61, 153, 153);
}
.cart__item__count{
    width: 50px;
}
.cart__item__price{
    font-weight: bold;
    font-weight: 20px;
    width: 60px;
}
.cart__item__img img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.cart_total__price{
    padding-top: 20px;
}
.cart__caption__btn .ant-btn{
    background: url('../assets/img/delete.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    border: none;
    width: 31px;
    height: 31px;
}
.cart__caption__btn .ant-btn:hover{
    background: url('../assets/img/delete.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border: none;
}
.wrapper{
    height: 100px;
}
.cart__link{
    color: rgb(33, 175, 175);
    text-decoration: underline;
}
.cart__link:hover{
    color: #1895ff;
}
.place__an__order{
    margin-top: 30px;
    margin-bottom: 30px;
}
.form__btn{
    margin-bottom: 20px;
}
.form__btn .ant-btn{
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    color:#fbfafc;
    background-color: rgb(5, 117, 119);
    outline: none;
    border: 1px solid #0d0f0fd8;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.form__btn .ant-btn:hover{
    background-color:  rgb(13, 199, 202);
    color:rgb(1, 17, 16);
    cursor: pointer;
    border: 1px solid #0c8f8fd5;
}
.form__title{
    padding-top: 20px;
    padding-bottom: 5px;
}
.form__data{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.form__data input::placeholder{
    padding-left: 5px;
    font-size: 16px;
    vertical-align: middle;
}
.form__data__delivery{
    margin-right: 5px;
}
.form__data label{
    padding-top: 10px;
}
.form__data__name,
.form__data__mail,
.form__data__phone{
    width: 300px;
    height: 30px;
} 
.form__data_city{
    padding-bottom: 5px;
}  
.form__data__select{
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}
.form__data__street{
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
}
.form__data__apartment input{
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.form__data__massage{
    width: 320px;
    height: 80px;
    margin-bottom: 20px;
}
.form__data__massage::placeholder{
    padding-top: 5px;
    padding-left: 5px;
    font-size: 16px;
}
.footer{
    background-color: rgba(301, 248, 348, 0.96);
}
.footer_poster{
    width: 100%;
    height: 263px;
    background-image: url('../assets/img/poster.svg');
    background-position: bottom;
    background-repeat:repeat-x;
    transform: translateY(1%);
}
.footer__container{
    background-image: url('../assets/img/nav.jpg');
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.footer__logo{
    width: 180px;
}
.footer__logo__icon{
    width: 40px;
    position: relative;
}
.footer__logo span{
    position: absolute;
    margin-left: 10px;
    font-family: 'Carter One', cursive;
    color: rgb(13, 199, 202);
    text-shadow: 1px 1px 1px rgba(181, 220, 223, 0.452);
    font-size: 24px;
}
.footer__nav__link{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer__nav__link a{
    display: flex;
    font-size: 18px;
    padding-bottom: 10px;
    color: #ffffff;
    padding-left: 5px;
    padding-right: 5px; 
}
.footer__nav__link a:hover,
.footer__social__tel a:hover{
    color: rgb(0, 210, 215);
}
.footer__contact{
    color: #ffffff;  
}
.footer__contact__title,
.footer__social__tel h3{
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
}
.footer__contact li{
    list-style: none;
    padding-bottom: 5px;
    font-size: 16px;
}
.footer__social__tel a{
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 40px;
}
.footer__social a{
    display: inline-block;
}

.footer__social__facebook,
.footer__social__youtube,
.footer__social__instagram{
    width: 30px;
    margin-right: 25px;
}
.footer__copirait h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #afafaf;
}
